/*Variables*/
:root{
    --primary-font: Arial;
    --accent-color: black;
}

header, main, footer{
    text-align:center;
    margin: 1rem auto;
    padding: 2px;
    background-color: maroon; 
    color: white;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }
a:visited {
    color: var(--accent-color);
  }

a{
    color:white;
    text-decoration: none;
    background-color: brown;
    min-width: 200px;
    display:block;
}

.hide {
    display:none;
}

a:hover{
    background-color: maroon;
}

figure{
    display:inline;
}
img{
    max-width: 100%;
    margin:20px;
    border: white 10px solid;
    height: 250px;
    object-fit:cover;
}
button{
    cursor: default;
    background: none;
    outline: none;
    padding:none;
    border:none;
}
  
#image-modal img {
    max-width: 150%;
    height: 50vh;
    display: block;
    background-color: rgba(0,0,0,.6);
    margin:20vh auto;
    z-index:10;
  }
.close-viewer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    background: red;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }

@media screen and (min-width:980px){
    footer, main{
        background-color: navy;
    }
    .hide {
        display:none;
    }
}

@media screen and (min-width:1500px){
    footer, main{
        background-color: black;
    }
    a {
        display:inline;
        margin:none;
        padding:2px;
    }
    h2{
        display:none;
    }
    .hide{
        display:block;
    }
}